:root {
  --green-ligth: rgb(142, 201, 192);
  --green: rgb(0, 158, 144);
  --green-dark: rgb(0, 102, 96);
  --corail: rgb(252, 232, 217);
  --orange: rgb(228, 121, 87);
  --orange-light: rgb(228, 121, 87);
  --orange-lighter: rgb(229, 134, 102);
  --red: rgb(217, 72, 52);
}

* {
  font-family: "Montserrat Medium", sans-serif;
}

@media (min-width: 576px) {
  section {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  section {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  section {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  section {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

@media (min-width: 992px) {
  section {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

h2 {
  color: var(--green);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

/* ---------------------------------------------------------------------------*/
/* HEADER */
/* ---------------------------------------------------------------------------*/
.header {
  background-color: var(--green);
}

/* ---------------------------------------------------------------------------*/
/* MENU */
/* ---------------------------------------------------------------------------*/

.menu {
  background-color: var(--green-dark);
}

.menu a {
  color: white;
  text-transform: uppercase;
}

.menu a:hover {
  color: var(--green-ligth);
}

/* ---------------------------------------------------------------------------*/
/* SECTION PROJET */
/* ---------------------------------------------------------------------------*/

.projet {
  background-color: var(--green-ligth);
  color: var(--green-dark);
}

.projet p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* ---------------------------------------------------------------------------*/
/* SECTION email */
/* ---------------------------------------------------------------------------*/

.email {
  background-color: var(--orange);
  color: white;
  font-weight: bold;
}

.email .focus {
  font-size: 20px;
}

.email a {
  color: white;
}

.email a:hover {
  filter: brightness(30%);
}

/* ---------------------------------------------------------------------------*/
/* SECTION ACTIVITES */
/* ---------------------------------------------------------------------------*/

.activites .card-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.activites .card-wrapper {
  max-width: 350px;
  border: 0px;
  padding: 1.2rem;
}

.activites .card-body {
  padding: 0px;
}

.activites .card-wrapper img {
  width: 40%;
}

.activites .card-body {
  padding-top: 0px;
}

.activites .card-text {
  color: black;
  text-align: center;
}
.activites .card-title {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-size: 1.15rem;
}

/* ---------------------------------------------------------------------------*/
/* SECTION FINANCEMENT */
/* ---------------------------------------------------------------------------*/

.financement {
  background-color: var(--corail);
}

.financement p {
  text-align: center;
  color: var(--green-dark);
  font-size: 20px;
}

.financement p .focus {
  font-weight: bold;
}

/* ---------------------------------------------------------------------------*/
/* SECTION SOCIETAIRE */
/* ---------------------------------------------------------------------------*/

.societaire .card-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.societaire .card-wrapper {
  max-width: 350px;
  border: 0px;
  padding: 2rem;
}

.societaire .card-body {
  padding: 0px;
}

.societaire .card-wrapper img {
  width: 40%;
}

.societaire .card-body {
  padding-top: 0px;
}

.societaire .card-text {
  color: black;
  text-align: center;
}

.societaire .card-text .focus {
  color: var(--green);
}
.societaire .card-title {
  color: var(--green);
  text-align: center;
  font-weight: bold;
  font-size: 1.15rem;
}

/* ---------------------------------------------------------------------------*/
/* SECTION EQUIPE */
/* ---------------------------------------------------------------------------*/

.equipe {
  background-color: var(--orange-lighter);
}

.equipe h2 {
  color: white;
}

.equipe p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: bold;
}

.equipe .focus {
  font-weight: bold;
}

/* ---------------------------------------------------------------------------*/
/* SECTION SOUTIEN */
/* ---------------------------------------------------------------------------*/

.soutien {
  padding-left: 4rem;
  padding-right: 4rem;
}
.soutien img {
  width: 100px;
}

.soutien .soutien-logo {
  padding: 1.2rem;
}

/* ---------------------------------------------------------------------------*/
/* SECTION CONTACT */
/* ---------------------------------------------------------------------------*/

.contact {
  background-color: var(--red);
  color: white;
  text-align: center;
}

.contact a {
  color: white;
}

.contact a:hover {
  filter: brightness(30%);
}
